@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }


  .slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    border-radius: 200px;
    border-width: 7px;
    border-color: rgba(17, 17, 17, 0.76);
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}


.batin {
    background-color: #1a1a1a;
    color: white;
}


.fitpa {
    width:fit-content
}

.itemcen {
    align-items: center;
}